.main {

    &__block {
        border-bottom: 1px solid $color-grey;

        &--light {
            background-color: $color-bg-light;
        }

        &--darker {
            background-color: $color-bg-darker;
        }
    }
}

.about {

    &-img {
        order: 1;

        img {
            width: 100%;
            max-width: 390px;
            opacity: 0.8;
        }
    }

    @include media-breakpoint-up(md) {

        &-descr {
            order: 1;
        }

        &-img {
            order: 2;
        }
    }
}

.arrow {
    width: 25px;
    height: 25px;

    &-prev {
        transform: rotate(180deg);
    }
}
