.projects {
  &__wrapper {
    width: 320px;
    margin-bottom: em(25);
    overflow: hidden;
    padding: 0;

    @include media-breakpoint-up(md) {
        width: 640px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    border: 1px solid $color-line-dark;
    border-radius: 3px;
    padding: 5px;
    background-color: $color-bg-light;
    width: 296px;
    box-shadow: 0 6px 6px rgba(169, 140, 106, 0.2);

    &-wrapper {
      padding: 0 rem(12);
    }

    &-img {
      width: 284px;
      border: 1px solid $color-line-light;
      border-radius: 3px;
    }
  }
}

.slider {
  display: flex;
  justify-content: center;

  &__arrow {
    width: rem(25);
    height: rem(25);
    fill: $color-icons;

    @include media-breakpoint-up(md) {
      width: rem(30);
      height: rem(30);
    }
  }

  .arrow-prev {
    transform: rotate(180deg);
  }

  &__counter {
    @include font-second;
    margin: 0 em(15);
    width: em(40);
    color: $color-line-dark;

    &-current {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: em(13);
        left: em(7);
        width: 30px;
        height: 1px;
        background-color: $color-line-dark;
        transform: rotate(140deg);
      }
    }

    &-total {
      text-align: right;
    }
  }
}
