.about {
  &-img {
    margin-bottom: em(20);

    img {
      display: block;
      width: 100%;
      max-width: 390px;
      opacity: 0.8;
      margin: 0 auto;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &-descr {
    width: 300px;

    &__title {
      @include font-second;
      font-size: rem(20);
      text-align: center;
      font-weight: 700;
      margin: 0 0 0.3em;
    }

    &__subtitle {
      text-align: center;
      position: relative;
      margin-bottom: em(25);

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        width: 50%;
        height: 1px;
        background-color: $color-line-dark;
        margin: auto;
      }
    }

    &__text {
      margin-bottom: em(20);
      line-height: 130%;
      text-align: center;
    }

    &__button {
      text-align: center;
    }

    @include media-breakpoint-up(sm) {
      width: 330px;

      &__title {
        font-size: rem(22);
      }
    }

    @include media-breakpoint-up(md) {
      &__text {
        padding: 0 em(20);
      }

    }
  }

  @include media-breakpoint-up(md) {
    &-descr {
      order: 1;
    }

    &-img {
      order: 2;
    }
  }
}
