.contact {
  &__form {
    width: 300px;
    text-align: center;

    @include media-breakpoint-up(sm) {
      width: 510px;
    }

    @include media-breakpoint-up(md) {
      order: 2;
      width: 550px;
      padding-right: rem(45);
    }

    @include media-breakpoint-up(lg) {
      padding-right: rem(15);
    }

    input,
    textarea {
      padding: em(10);
      margin-bottom: em(15);
      display: block;
      width: 100%;
      border: 1px solid $color-line-dark;
      border-radius: 3px;
      background-color: $color-bg-light;

      &::placeholder {
        letter-spacing: 2px;
        color: $font-color-dark;
      }
    }

    textarea {
      resize: none;
    }
  }

  &__button {
    margin-bottom: em(20);
  }

  &__socials {
    &-list {
      display: flex;
      justify-content: center;

      @include media-breakpoint-up(md) {
        order: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      @include media-breakpoint-up(lg) {
        align-items: flex-start;
      }
    }

    &-item {
      margin-right: em(25);

      &:last-child {
        margin-right: 0;
      }

      @include media-breakpoint-up(md) {
        margin-right: 0;
        margin-bottom: em(20);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-link {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      &-item {
        display: flex;
        align-items: center;
      }

      &-link {
        display: block;
        margin-left: rem(20);

        a {
          font-size: rem(24);
          color: $color-icons;

          @media (hover: hover) {
            transition: color 0.3s;

            &:hover {
              color: $color-hover;
            }
          }
        }
      }
    }

    &-icon {
      width: em(30);
      height: em(30);
      fill: $color-icons;

      @media (hover: hover) {
        transition: fill 0.3s;

        &:hover {
          fill: $color-hover;
        }
      }
    }
  }
}
