.about {
  &__img {
    width: 100%;
    min-height: 185px;
    opacity: 0.7;
    background: url("../img/about-img-400.png") center / contain no-repeat;

    @include media-breakpoint-up(sm) {
      min-height: 230px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 290px;
      background-image: url("../img/about-img-500.png");
    }

    &-wrapper {
      margin-bottom: em(20);

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    &-wrapper {
      display: flex;
      justify-content: center;
    }
    &-content {
      width: 300px;

      @include media-breakpoint-up(md) {
        align-self: center;
      }

      @include media-breakpoint-up(lg) {
        width: 320px;
        font-size: rem(20);
      }
    }

    &-title {
      @include font-second;
      font-size: rem(20);
      text-align: center;
      font-weight: 700;
      margin: 0 0 0.3em;

      @include media-breakpoint-up(sm) {
        font-size: rem(22);
      }

      @include media-breakpoint-up(md) {
        font-size: rem(24);
      }

      @include media-breakpoint-up(lg) {
        font-size: rem(26);
        //padding-top: em(25);
      }
    }

    &-subtitle {
      text-align: center;
      position: relative;
      margin-bottom: em(25);

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        width: 50%;
        height: 1px;
        background-color: $color-line-dark;
        margin: auto;
      }
    }

    &-text {
      line-height: 130%;
      text-align: center;
    }

    &-button {
      text-align: center;
    }
  }

  @include media-breakpoint-up(md) {
    &__description {
      order: 1;
    }

    &__img-wrapper {
      order: 2;
    }
  }
}
