.contact {
  &__form {
    width: 300px;
    text-align: center;

    @include media-breakpoint-up(sm) {
      width: 490px;
    }

    @include media-breakpoint-up(md) {
      order: 2;
      width: 550px;
      padding-right: rem(40);
    }

    input,
    textarea {
      padding: em(10);
      margin-bottom: em(15);
      display: block;
      width: 100%;
      border: 1px solid $color-line-dark;
      border-radius: 3px;
      background-color: $color-bg-light;

      &::placeholder {
        color: $font-color-dark;
      }
    }

    textarea {
      resize: none;
    }
  }

  &__button {
    margin-bottom: em(20);
  }

  &__socials {
    &-list {
      display: flex;
      justify-content: center;

      @include media-breakpoint-up(md) {
        order: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }

    &-item {
      margin-right: em(25);

      &:last-child {
        margin-right: 0;
      }

      @include media-breakpoint-up(md) {
        margin-right: 0;
        margin-bottom: em(20);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-icon {
      width: em(30);
      height: em(30);
      fill: $color-icons;
      transition: fill 0.3s;

      @media (hover: hover) {
        &:hover {
          fill: $font-color-dark;
        }
      }
    }
  }
}
