.main {
  margin-top: em(45);

  &__block {
    padding: em(20) 0;
    border-bottom: 1px solid $color-line-dark;

    &--light {
      background-color: $color-bg-light;
    }

    &--darker {
      background-color: $color-bg-dark;
    }
  }

  &__title {
    text-align: center;
    font-size: rem(24);
    margin-bottom: em(20, 24);
    letter-spacing: 1px;

    &:before {
      content: "{ ";
    }

    &:after {
      content: " }";
    }
  }

  &__content {
    justify-content: center;
  }
}

.button {
  display: inline-block;
  @include font-second;
  border-radius: 3px;
  padding: em(10) em(15);
  color: $font-color-dark;

  &-dark {
    border: 1px solid $color-line-dark;
    background-color: $color-bg-dark;
  }
}
