.menu {
    //position: fixed;
    background-color: $color-bg-nav;
    border-bottom: 1px solid $font-color-dark;
    font-size: 1rem;

    svg {
        width: em(25);
        height: em(25);
        fill: $color-nav;
        transition: fill 0.3s;

        @media (hover: hover) {
            &:hover {
                fill: $font-color-dark;
            }
        }
    }

    &__row {
        height: em(45);
        align-items: center;
    }

    &__socials-list {
        display: flex;
        height: em(25)
    }

    &__socials-item {

        &:not(:last-child) {
            margin-right: 1em;

        }
    }

    &__nav {
        display: none;
        @include font-second;

        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: center;
        }

        &-list {
            display: flex;
        }

        &-link {
            margin-right: rem(40);

            a {
                color: $color-nav;
                transition: color .3s;

                @media (hover: hover) {
                    &:hover {
                        color: $font-color-dark;
                    }
                }
            }
        }
    }


    &__lang-burger {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__lang {
        height: em(25);
    }

    &__burger {
        margin-left: 1em;

        &-btn {
            position: relative;
            display: block;
            width: 30px;
            height: 20px;

            background: transparent;
            border-top: 4px solid;
            border-bottom: 4px solid;

            color: $color-nav;

            transition: all .25s ease-in-out;

            &:before,
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 4px;

                position: absolute;
                top: 50%;
                left: 50%;

                background: $color-nav;

                transform: translate(-50%, -50%);
                transition: transform .25s ease-in-out;
            }

            &:hover {
                border-color: transparent;

                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    @include media-breakpoint-up(sm) {
        font-size: rem(17);
    }

    @include media-breakpoint-up(lg) {
        font-size: rem(18);
    }
}

