$font-color-dark: #666235;

$color-bg-nav: #A98C6A;
$color-bg-dark: #EFE6D6;
$color-bg-light: #F5F8EB;

$color-icons: #A98C6A;
$color-nav: #F5F8EB;

$color-line-dark: #A98C6A;
$color-line-light: #D4C5A8;

$color-hover: #D2C09C;
