$font-dark-blue: #6A7E98;
$color-bg-blue: #CEE0FF;
$color-bg-blue-light: #E7F1FB;
$color-bg-light: #FAFAFA;
$color-grey: #B8C1C0;

$font-main: 'Neucha-Regular, sans-serif';
$font-second: 'Comfortaa-Bold, sans-serif';
