$font-dark-blue: #6A7E98;
$color-bg-blue: #CEE0FF;
$color-bg-darker: #E7F1FB;
$color-bg-light: #FAFAFA;
$color-grey: #B8C1C0;
$color-socials-icons: #7790AF;

$font-main: Neucha-Regular,
sans-serif;
$font-second: Comfortaa-Bold,
sans-serif;
